.BarChart .bar.positive
  fill: steelblue;

.BarChart .bar.positive:hover
  fill:#e2e2e2;

.BarChart .bar.negative
  fill: #fff;

.BarChart .bar.negative:hover
  fill: #fff;

.BarChart g.infowin
  fill: #fff;

.BarChart g.infowin text, .axis text
  font: 7px;
  fill: #fff;

.y_axis_mono .tick, .x_axis_mono .tick
    font-size 10px
    fill: #fff

.BarChart .y_axis_mono path,.BarChart .axis line,.BarChart .x_axis_mono path
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
  stroke-dasharray: 0,0

.bar-chart-ttip
  position:absolute;
  text-align: center;
  //width: 100px;
  height:auto;
  background: transparent;
  border-radius: 3px;
  color: #222222;
  padding: 3px 5px;
  box-sizing border-box
  z-index:9999;

.BarChart-wrapper
  position relative
