.base-store__content
  padding 64px 24px 0px 24px

.base-store__appbar
  position fixed
  top 0
  left 0
.base-store__appbar_big
  @media screen and (min-width: 840px)
    height 128px
  @media screen and (max-width: 840px)
    height 64px

.header
  width 440px
  height 100%
  display inline-block
  position fixed
  top 0
  left 0
  overflow-y auto
  @media screen and (max-width: 840px)
    display none
.header__wrapper
  padding-top 128px