.file-input-container
  padding 10px 0

.file-input
  cursor pointer
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  width 100%
  opacity 0

.file-input-chosen
  margin-left 10px

.file-input-chosen .filename
  font-style italic