.grid
	font-size 13px;
	font-family Roboto, sans-serif;
	color: rgba(0, 0, 0, 0.870588);
	border-spacing: 0px;
	border-collapse: separate;

	.fixHeader
		position:	fixed;
		top: 	64px;
		z-index:1;

	.first
		height:103px
		vertical-align bottom

	.tableHeader
		background-color #fff;

	th
		border-bottom: 1px solid rgb(224, 224, 224);
		font-weight normal;
		color:rgb(158, 158, 158);
		font-size 13px
		height 48px;
		line-height 48px;
		text-align left;
		white-space nowrap;

	td
		border-bottom: 1px solid rgb(224, 224, 224);
		height 48px;
		line-height 48px;
		text-align right;

 	td.alignLeft
		text-align left;
