.lm-td:first-child
	width: 258px
.lm-td
	min-width: 110px!important
	text-align: left
.mui-table-body .mui-table-row .mui-table-row-column:nth-child(1)
	display: none
.mui-table-row.mui-table-header-row .mui-table-header-column:nth-child(1)
	display: none
.money-table__header th:nth-child(1)
	padding-left: 40px

.pageDate
	font-size: 20px;
	margin-top 20px

.fixedHeader
	position:'fixed';
	display:'none';
	top:'64px'