.borrowers-debts-grouped-bar-chart
  width 100%
  height 100%

  .axis
    .domain
      stroke-width: 1px;
      opacity: 0.2;
    .tick line {
      stroke-width: 1px;
      opacity: 0.2;
    }
    .tick text {
      opacity: 0.6;
      font-size: 14px;
    }

  .focus-store
  .data-store
    text
      opacity .8
      fill black
      font-size 10px

  .date-store
    opacity 0.6
    .date-rect
      fill #ffffff
    &.highlight
      .date-rect
        fill #e0e0e0

  .date-store_hoverable
    opacity 0
    .date-rect
      fill green
    &:hover
      opacity .3

  .brush
    .extent
      fill green
      fill-opacity .3
      shape-rendering crispEdges
    circle
      fill white
      stroke black
      stroke-opacity .2

  .categories-store
    padding 24px
    .category-item
      position relative
      display inline-block
      margin-right 16px
      margin-top 16px
      width 320px
      &.checked
        .close
          display none
        .check
          display block
      .color
        width 32px
        height 32px
        display inline-block
        vertical-align top
        &.disabled
          background-color grey
      .close
        position absolute
        top 7px
        left 7px
        display block
        fill white
      .check
        position absolute
        top 7px
        left 7px
        display none
        fill white
      .name
        display inline-block
        font-size 12px
        padding 8px
        vertical-align top
        opacity .6

