.list-item
  display: inline-block
  vertical-align: top
  margin-left: 0
  padding:10px
  padding-bottom 5px
  position: relative
  width: 200px

.list-item__label-top,
.list-item__label-bottom
  font-size: 12px
  line-height: 16px
  height: 16px
  margin: 4px 0 4px 0
  color: rgba(0, 0, 0, 0.6)
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.list-item__value
  font-size: 14px
  line-height: 14px
  font-weight: 400
  color: #000000;

.list-item__units
  font-size: 14px

