.cashflow-statistics-card
  background-color #ffffff
  width 366px
  height 256px
  margin 24px 24px 0 0
  display inline-block
  overflow hidden
  vertical-align top
  &__chart
    background-color #ffffff
    padding-left 16px
  &__buttons
    left 0
  &__buttons_bottom
    bottom 16px
  .card-table
    .card-table__subtitle
      font-size 14px
      padding 5px 0 8px 0
      opacity 0.6
    .card-table__row
      width 334px
      text-align justify
      font-size 0.8em
      padding 0
      div
        line-height 24px
    .card-table__row-opaque
      opacity 0.6
    .card-table__col_width-1
      width 27px
      display inline-block
    .card-table__col_width-2
      width 54px
      display inline-block
    .card-table__col_width-3
      width 81px
      display inline-block
    .card-table__col_width-4
      width 108px
      display inline-block
    .card-table__col_width-5
      width 135px
      display inline-block
    .card-table__col_width-6
      width 167px
      display inline-block
    .card-table__col_align-right
      text-align right
