@font-face
  font-family bnkdash
  font-style normal
  font-weight: normal
  src: url('fonts/bnkdash.eot?11600853');
  src: url('fonts/bnkdash.eot?11600853#iefix') format('embedded-opentype'),
       url('fonts/bnkdash.woff?11600853') format('woff'),
       url('fonts/bnkdash.ttf?11600853') format('truetype'),
       url('fonts/bnkdash.svg?11600853#bnkdash') format('svg');


/*

  src url(fonts/geo_sans_light/GensansLight.ttf)

@font-face {
  font-family: 'bnkdash';
  src: url('fonts/bnkdash.eot?11600853');
  src: url('fonts/bnkdash.eot?11600853#iefix') format('embedded-opentype'),
      url('fonts/bnkdash.woff?11600853') format('woff'),
      url('fonts/bnkdash.ttf?11600853') format('truetype'),
      url('fonts/bnkdash.svg?11600853#bnkdash') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bnkdash';
    src: url('../font/bnkdash.svg?11600853#bnkdash') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bnkdash";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cat:before { content: '\e800'; } /* '' */
.icon-arrow_l:before { content: '\e801'; } /* '' */
.icon-proto:before { content: '\e802'; } /* '' */
.icon-settings:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-zaem:before { content: '\e805'; } /* '' */
.icon-fin:before { content: '\e806'; } /* '' */
.icon-th-outline:before { content: '\e807'; } /* '' */
.icon-exit:before { content: '\e808'; } /* '' */
.icon-spin5:before { content: '\e809'; } /* '' */
.icon-errors:before { content: '\e80a'; } /* '' */
.icon-bizadm:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-pie:before { content: '\e80d'; } /* '' */
.icon-popup:before { content: '\e80e'; } /* '' */
.icon-down-open-mini:before { content: '\e80f'; } /* '' */
.icon-cred:before { content: '\e810'; } /* '' */
.icon-agreement:before { content: '\e811'; } /* '' */
.icon-eye-1:before { content: '\e812'; } /* '' */
.icon-banking2:before { content: '\e813'; } /* '' */
.icon-ascending24:before { content: '\e814'; } /* '' */
.icon-workers1:before { content: '\e815'; } /* '' */
.icon-finance-and-business4:before { content: '\e816'; } /* '' */
.icon-marketing8:before { content: '\e817'; } /* '' */
.icon-monitor7:before { content: '\e818'; } /* '' */
.icon-seo15:before { content: '\e819'; } /* '' */
.icon-verification5:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-trash-empty:before { content: '\e81c'; } /* '' */
.icon-ccw-1:before { content: '\e81d'; } /* '' */
.icon-right-open-mini:before { content: '\e81e'; } /* '' */
.icon-left-open-mini:before { content: '\e81f'; } /* '' */
.icon-comment-empty:before { content: '\e820'; } /* '' */
.icon-cog:before { content: '\e821'; } /* '' */