.breadcrumbs
  margin: 30px 0 20px;
.a_button
  position fixed!important;
  z-index: 10;

.second_bar
  position fixed;

.borr_header
  width: 350px;
  display: block;
  vertical-align: top;
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  float:left;

.upload_content
  padding-top: 100px;
  margin auto;
  form
    padding: 20px 40px 40px 40px;

i.spacer{ display:block; height 60px; }

@media (min-width : 1230px)
  .second_bar
    display: none!important;

  .upload_content
    width: 1000px;

  .borr_content
    position: relative;
    top: 0;
    margin-top: 40px;
    z-index: 10;
    overflow: hidden;
    marg-top: 40px

  .borr_content_wrapper
    padding-top: 24px;
    padding-bottom: 96px;
    vertical-align: top;


  .borr_card
    display: inline-block;
    text-align:left;

  .borr_card.centered
    text-align: center;
    width:100%;

    .treegrid
      display: inline-block;
      width: auto;

  i.spacer
    display:block;
    height 60px;

  .borr_card_stat
    background: #fff;
    width: 970px;

  .a_button
    position: fixed !important;
    right: 24px;
    top: 96px;


  .back_button
    position fixed;
    top: 20px;
    left: 20px;
    z-index 10000;



/* sizes: */
/*
@media (max-width: 1062px)
@media (max-width: 910px)
@media (max-width: 755px)*/

@media ( max-width : 1230px ) and (min-width : 320px)
  .borr_content
    position: relative;top: 65px; left: 0; margin-top: 0; padding-left: 0;width: 100%; z-index: 10;

  .borr_content_wrapper
    width: 100%;padding-top:0;padding-bottom: 96px;display: inline-block;vertical-align: top;

  .a_button
    bottom: 40px; right: 20px;

  .app_bar
    h1
      position: relative;
      left: 32px;

  .second_bar
    display: block;
    top:0;
    background-color #303f9f;
    opacity 0.5;

  .borr_header
    float: none;

  .borr_card
    display: inline-block;
    text-align: left;

  .borr_card.centered
    text-align: center;
    width:100%;
    .treegrid
      display: inline-block;
      width:auto;

  .base-paper
    text-align: left;

  .base-paper__appbar-store
    text-align left;


@media only screen and (min-device-width : 1280px) and (max-device-width : 800px) and (orientation : landscape)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;

@media only screen and (min-device-width : 1280px) and (max-device-width : 800px) and (orientation : portrait)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;

/* iphone 6 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;

/* iphone 6+ */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;

/* iphone 5+s */
/*@media (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) */
@media (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;


@media (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait)   /* iphone 2-4 */
  .borr_content
      position: relative;
      top: 0px;
      left: 0;
      margin-top: 40px;
      padding-left: 0;
      width: 100%;
      z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;
    right: 20px;


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)
  .borr_content
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    z-index: 10;

  .borr_content_wrapper
    width: 100%;
    padding-top: 24px;
    padding-bottom: 96px;
    display: inline-block;
    vertical-align: top;

  .a_button
    bottom: 20px;
    right: 20px;
