.tile
  width 320px
  height 200px
  margin 24px 24px 0 0
  display inline-block
  vertical-align top
  position relative
  cursor pointer
  overflow hidden

.tile__title
  color white
  font-size 18px
  position absolute
  bottom 24px
  left 64px

.tile__type
  color white
  font-size 8px
  position absolute
  top 24px
  right 24px

.tile__icon
  color #fff
  position absolute
  bottom 22px
  left 24px
  font-size 24px

.tile__left-marker
  position absolute
  top 16px
  left 16px