.borrower_name
	font-size 15px;
	opacity .8
	margin 60px 0 40px
	line-height 25px;

.opened__dialog
	width 100%;
	padding 30px 10px
	margin auto;
	text-align center;
	box-sizing border-box;

.line__data:nth-child(2n+1)
	background-color #efefef;

.line__data
	line-height 30px;
	font-size 12px
	text-transform uppercase;
	display block;
	padding 0 10px


	.title
		vertical-align top
		display inline-block
		text-align left;
		width 50%;
		opacity 0.6


	.value
		display inline-block;
		width 50%
		padding 5px 0
		text-align right;
		line-height 18px
		opacity: 0.8;

@media screen and (max-width: 840px)
	.dialog-paper_title.small
		font-size: 12px;
		line-height: 28px;
		display: inline-block;
		padding: 0 0 0 3px;
		width: 320px;
		margin-top: 8px;

	.filter__store-place
		text-align center;
		input
			text-align center

	.block-table .block-body .block-row .block-row__column_mobile.first
		width 400px

	.borrowers__client-loan
		.cell__data
			height 42px
			line-height 42px
			font-size 12px
			padding 0 20px
			.title
				display: inline-block;
				opacity: 0.6;
				padding: 2px 5px;
				float: left;
				max-width: 70%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

			.value
				display inline-block;
				opacity: 0.8;
				padding: 2px 5px;
				float right;


		.cell__data:hover
			background #e2e2e2
			cursor pointer;