.borrowers__filter
  display flex
  flex-wrap wrap
  justify-content left /*space-around*/
  align-items flex-start
  flex-direction row

.card__mini
  overflow visible
  width 336px
  margin 24px 24px 0 0
  padding 20px 0
  min-height 140px
  box-sizing content-box
  z-index: initial

.borrowers__store
  display flex
  flex-wrap wrap
  justify-content left/* center space-around*/
  align-items flex-start
  flex-direction row
  max-width 1296px
  padding-bottom 24px

@media screen and (max-width: 840px)
  .filter
    text-align center;