.category-card
  z-index 0
  background-color #ffffff
  width 336px
  margin 24px 24px 0 0
  display block
  overflow hidden
  /*vertical-align top*/
  position relative
  &__chart
    background-color #ffffff
    padding-left 16px
  &__buttons
    left 0
  &__buttons_bottom
    bottom 16px
  .card-table_top
    margin-top 16px
  .card-table
    .card-table__subtitle
      font-size 14px
      padding 5px 0 8px 0
      opacity 0.6
    .card-table__row
      width 288px
      text-align justify
      font-size 0.8em
      padding 0
      line-height 20px
    .card-table__row-opaque
      opacity 0.6
    .card-table__col_width-1
      width 24px
      display inline-block
    .card-table__col_width-2
      width 48px
      display inline-block
    .card-table__col_width-3
      width 72px
      display inline-block
    .card-table__col_width-4
      width 96px
      display inline-block
    .card-table__col_width-5
      width 120px
      display inline-block
    .card-table__col_width-6
      width 144px
      display inline-block
    .card-table__col_align-right
      text-align right
  .category-card__chart
    position absolute
    right 24px
    top 24px
    width 75px
    height 75px